/*
    Custom CSS
*/

.text-shadow {
    text-shadow: 2px 2px 2px #00000080;
}

.brand-logo {
    margin-left: 10px;
}

.valign-wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
}

.row .col.m6 {
    margin-left: 0;
}

.row .col.l4 {
    margin-left: 0;
}

.card-image img {
    height: 250px;
    object-fit: cover;
}

/*------------------------------------ about page */
.ul-about {
    list-style-type: square;
}

.ul-instruction {
    list-style-type: none;
}

/*--------------------------- 404/500 error pages */
.display-error {
    font-size: 48px;
    color: #004d40;
}
  
.lead-error {
    font-weight: 400;
    color: #004d40;
}

.hero-container {
    height: 100vh;
    width: 100%;
    background: url("/static/img/page-error.jpg") no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: larger;
}

#a-error {
    text-decoration-line: underline;
    color: #01579b;
}

/*------------------------------------- media queries */

/* Code from George Kagan and FdM
/* https://stackoverflow.com/questions/39894291/how-to-change-text-not-font-size-according-to-screen-size-in-css
/* Hide short text by default (resolution > 1200px) */
.short-text { display: none; }
/* When resolution <= 500px, hide full text and show short text */
@media (max-width: 500px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}
