/*
    Custom CSS
*/

.text-shadow {
    text-shadow: 2px 2px 2px #00000080;
}

.brand-logo {
    margin-left: 10px;
}

.plant-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
}