{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="center-align teal-text text-darken-4">
                    About Vazy Garden
                </h4>
                <p>This free app was created to help new gardeners manage the sowing of their seed collection.</p>
                <p>You know the scenario...</p>
                <ul class="browser-default ul-about">
                    <li>It is the start of spring.</li>
                    <li>The sun is shining.</li>
                    <li>You decide to visit the garden centre.</li>
                    <li>You impulsively buy lots of pretty flower seeds.</li>
                    <li>You store them somewhere safe.</li>
                    <li>You rediscover them when it's too late!</li>  
                </ul>
                <p>
                    With the Vazy Garden app you can manage the sowing of all those seeds in their correct months. 
                    You can also join a like-minded gardening community - see what others are adding to their plots. 
                    Registration is not required for viewing the site, but is for adding your plants.
                </p>
                <h4 class="center-align teal-text text-darken-4">
                    Instructions
                </h4>
                <ul class="browser-default ul-instruction">
                    <li><i class="fas fa-user-edit prefix teal-text text-darken-4"></i>&nbsp;
                        Register your name and password.</li>
                    <li><i class="fas fa-sign-in-alt prefix teal-text text-darken-4"></i>&nbsp;
                        Log in to create a profile.</li>
                    <li><i class="fab fa-pagelines prefix teal-text text-darken-4"></i>&nbsp;
                        Add your plants.</li>
                    <li><i class="fas fa-pencil-alt prefix teal-text text-darken-4"></i>&nbsp;
                        Edit or delete them.</li>
                    <li><i class="fas fa-calendar-alt prefix teal-text text-darken-4"></i>&nbsp;
                        Log the months to sow.</li>
                    <li><i class="fas fa-utensils prefix teal-text text-darken-4"></i>&nbsp;
                        Indicate if edible for humans</li>
                    <li><i class="fas fa-paw prefix teal-text text-darken-4"></i>&nbsp;
                        Select if feed for a pet.</li>
                    <li><i class="fas fa-search prefix teal-text text-darken-4"></i>&nbsp;
                        Search for when seeds need to be sown.</li>
                    <li><i class="fas fa-hiking prefix teal-text text-darken-4"></i>&nbsp;
                        Get out there and start sowing those seeds!</li> 
                </ul>
            </div>
        </div>
    </div>

    {% endblock %}
