{% extends "base.html" %}
{% block content %}

    <h3 class="center-align teal-text text-darken-4">All Plants</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="valign-wrapper center-align">
                <div class="input-field col l12">
                    <i class="fas fa-search prefix teal-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Plants</label>
                </div>
            </div>
            <div class="col l12">
                <a href="{{ url_for('get_plants') }}" class="red darken-4 btn text-shadow">Reset</a>
                <button type="submit" class="teal darken-4 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>           
        </form>
    </div>

    {% if plants|length > 0 %}
        <div class="row valign-wrapper">
            {% for plant in plants %}
                <div class="col s12 m6 l4">
                    <div class="card" >
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ plant.link }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator teal-text text-darken-4">
                                <strong>{{ plant.plant_name }}</strong>
                                {% if plant.is_edible == "on" %}
                                    <i class="fas fa-utensils teal-text text-darken-4 tooltipped"
                                        data-position="right" data-tooltip="EDIBLE"></i>
                                {% endif %}
                                <br>Sow: {{ plant.sow }}
                                <i class="fas fa-ellipsis-v right"></i>
                            </span>
                            <p><a href="{{ plant.seed_link }}" target="_blank">Seed Catalogue</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title teal-text text-darken-4">
                                <strong>{{ plant.plant_name }}</strong>
                                <br>Sow: {{ plant.sow }}
                                <i class="fas fa-times right"></i>
                            </span>
                            <p><strong>Description:</strong><br>
                                {{ plant.plant_description }}
                            </p>
                            <ul>
                                <li><strong>Category: </strong>{{ plant.category_name }}</li>
                                <li><strong>Feed for: </strong>{{ plant.animal_name }}</li>
                            </ul>
                            <div>
                                {% if session.user|lower == plant.created_by|lower %}
                                    <a href="{{ url_for('edit_plant', plant_id=plant._id) }}" class="btn-small teal darken-4">Edit</a>
                                    <a href="{{ url_for('delete_plant', plant_id=plant._id) }}" class="btn-small red darken-4">Delete</a>
                                {% endif %}
                            </div>
                            <p><em>by: {{ plant.created_by }}</em></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Plants Found</h3>
    {% endif %}
        
{% endblock %}
